<div class="grid-container">
        <div class="featured" style="background-image: url(<%= main_image %>)">

        </div>
    <% @categories.includes(:articles).all.order(priority: 'DESC').each do |category| %>
        <div class="category" style="background-image: url(<%= category.articles.last.image %>)">
            <h3><%= category.name %></h3>
        </div>
    <% end %>
</div>