// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
  *,
  *::before,
  *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
} 

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.featured { 
  height: 70vh; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 1 / span 4;
}

.category { 
  height: 30vh; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid-container {
  display: grid;
}

.footer {
  background-color:#4E443F;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer-text1, #footer-text2 {
  color: #BF582C;
}

// footer {
//   right: 0;
//   bottom: 0;
//   left: 0;
//   padding: 1rem;
//   background-color: #4E443F;
// }

.category1 {
  height: 50vh;
}