// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.featured { 
  height: 70vh; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 1 / span 4;
}

.category { 
  height: 30vh; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid-container {
  display: grid;
  
}