

<div class="col-sm-6 col-md-6 col-xs-6">
    <% @category.articles.each do |article| %>
              <div class="thumbnail" style="border:none; background:white;">

              <div class="col-sm-6 col-md-6 col-xs-12 image-container">
              
               <%= cl_image_tag(article.image) %>
              </div>

              <div class="col-sm-6 col-md-6 col-xs-12">  
                <p><%= article.title %></p>
              </div>
              </div>
  <% end %>
 </div>
