<footer class="footer container-fluid">
  <div class="row">
    <div class="col-sm">
      <p><i class="fas fa-truck-pickup"></i><%= link_to 'RueMotors', root_path, class: "navbar-brand text-white" %></p>
    </div>
    <div class="col-sm ml-auto">
      <p>
        <span><%= link_to "Privacy Policy", "#", class: "footer-text" %></span>
        <span><%= link_to "Terms & Conditions", "#", class: "footer-text"  %></span>
        <span class="footer-copy">&copy; Copyright 2020. All rights reserved</span>
      </p>
    </div>
    <div class="col-sm ml-auto">
      <p class="footer-copy">Connect with us:
      <span class="icon"><i class="fab fa-facebook-f p-3"></i></span>
      <span class="icon"><i class="fab fa-twitter p-3"></i></span>
      <span class="icon"><i class="fab fa-instagram p-3"></i></span>
      </p>
    </div>
  </div>
</footer>