<footer class="footer container-fluid">
  <div class="row">
      <div class="col-sm">
        <p><i class="fa fa-language icons mr-1" aria-hidden="true"></i><i><%= link_to 'RueMotors', root_path, class: "navbar-brand text-white footer-copyright py-3" %></i></p>
      </div>
      <div class="col-sm ml-auto">
        <p class="footer-copyright text-center py-3">
          <span><%= link_to "Privacy Policy", "#", class: "footer-text mr-1" %></span>
          <span><%= link_to "Terms & Conditions", "#", class: "footer-text mr-1"  %></span>
          <span class="footer-copy">&copy; Copyright 2020. All rights reserved</span>
        </p>
      </div>
      <div class="col-sm footer-copyright py-3">
        <p class="footer-copy d-flex justify-content-end">Connect with us:
        <span class="icon py-0"><i class="fab fa-facebook-f p-2"></i></span>
        <span class="icon"><i class="fab fa-twitter p-2"></i></span>
        <span class="icon"><i class="fab fa-instagram p-2"></i></span>
        </p>
      </div>
  </div>
</footer>