<footer class="footer container-fluid">
  <div class="row">
    <div class="col-sm">
      <p><i class="fas fa-truck-pickup"></i><%= link_to 'RueMotors', root_path, class: "navbar-brand" %></p>
    </div>
    <div class="col-sm">
      <p>
        <span><%= link_to "Privacy Policy", "#" %></span>
        <span><%= link_to "Terms & Conditions", "#" %></span>
        <span>&copy; Copyright 2020. All rights reserved</span>
      </p>
    </div>
    <div class="col-sm">
      <p>Connect with us:
      <span class="icon"><i class="fab fa-facebook-f p-2"></i></span>
      <span class="icon"><i class="fab fa-twitter"></i></span>
      <span class="icon"><i class="fab fa-instagram"></i></span>
      </p>
    </div>
  </div>
</footer>